# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
!/.vscode/launch.json
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/extensions.json
!/.vscode/cmake-kits.json
!/.vscode/cmake-variants.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# End of https://www.gitignore.io/api/visualstudiocode

/.idea
/output

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

properties.txt
