[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xmlrunner = "*"
docopt-ng = "*"
autopep8 = "*"
pipenv = "*"
dacite = "*"
black = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
